<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--要扫描的包-->
    <context:component-scan base-package="com.spring.learn"></context:component-scan>
    <!--开启spring aop-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <bean id="aopXml" class="com.spring.learn.factory.AopXml"></bean>
    <aop:config>
        <aop:aspect  ref="aopXml">
            <aop:pointcut id="aop" expression="execution(* com.spring.learn.services.UserService.add(..))"></aop:pointcut>
            <aop:after method="after" pointcut-ref="aop"/>
            <aop:before method="before" pointcut-ref="aop"/>
        </aop:aspect>
    </aop:config>
</beans>